language: node_js
node_js:
- '0.12'
env:
  global:
  - GH_REF=github.com/satsummit/landscape.git
  - DEPLOY_BRANCH=master
  - secure: CCXvJ1n2r7r1hgqGRMgAKrDO/gDf0xKda3IiN/9+71hhyo3cLZNM8S4nCJny4wpjhSO+AJ9PDQDaP4c99hAPQDQZiBsDgTWXbjLvJ59+3IP1/tBAQKxpqkZtFPWOowcC/MSVLDevtErlgpoFR0c32b+3djin/ZtFz7Eu07XmxqpN8vt3BNjCn/xRsSjcP8T4VdgazCac+ja1LoDcDWl4NuwWIyUtzMqiKA0uB9GFbHDHtYhfbYcVBEsaJL3AiXRRB2nNeGAsF/C3QdyvRjKlTM9dkTvNLnMtCUS5ii9EOVER/6cq8KsSUXArRmyITo7Rp8GVu8dagfHVtlG1zSGxfSj2CJQfSV14hKiUW/Y5jZc0eqI/OgSjxj4OmjYPMOqQVN3TLksBrafd6W/AgwEKLAybE7qqBIVXlmk6QPNn1WcMLubpjJqFIAfEl6b2IcXnQG2U3Tv/ZIglh7A2VRMd1HvzYPVRPKnUdmUwe1vJEay1b4tFsSghzWUYF8LYfhNtlwrOnVfbNFKvsnJDADVTIal5mDeFPGkDC4kSbcLK7ZyRZ6ZqO2AJ1J9/6RNb1srA875tyMJbOEgsnIVrzwiN5lrnFBAKCp1pYZfRV4SNyY2370mIv5fH4bDBc+3YXimemRMqwWL6PwnBmnFJ1yzvCqWQNCIFnSnryL2cgDJlVUU=
cache:
  directories:
  - node_modules
before_install:
- chmod +x ./.build_scripts/deploy.sh
- chmod +x ./.build_scripts/lint.sh
before_script:
- "./.build_scripts/lint.sh"
- npm test
script:
- npm run build
after_success:
- "./.build_scripts/deploy.sh"
