// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

html, body {
  height: 100%;
  overflow: visible;
}

body {
  font-size: 100%;
  font-weight: 400;
}

// These must be direct descendants of body,
// or descendants of element with height: inherit;
.graphic {
  width: 100%;
  height: 70%;
}

// Scss starts here!
.header {
  padding-top: 160px;
  background: url("/assets/graphics/layout/DevelopmentSeed.png") no-repeat center;
  font-style: italic;
  font-size: 22px;
}

.range {
  position:absolute;
  width:100%;
}
