.article-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: 0.25rem;
}

.article-footer__flex {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  width: 100%;
  color: white;
  background-color: $lighter-blue;
  transition: 0.2s all;

  @include large {
    padding: 1.5rem 2rem;
  }

  h2 {
    color: white;
    font-weight: 800;
    margin-bottom: 0;
    font-size: 1rem;

    @include large {
      font-size: 1.5rem;
    }
  }

  &:hover {
    background-color: lighten($lighter-blue, 15);
  }
}

.collecticon-chevron-left {
  color: #FFF;
  font-weight: 800;
  font-size: 4rem;
  opacity: 0.3;
}

.collecticon-chevron-right {
  color: #FFF;
  font-weight: 800;
  font-size: 4rem;
  opacity: 0.3;
  margin-left: auto;
}
