.hero {
  position: relative;

}

.hero-block {
  margin: 0;
  padding: .75em 2em;
  background-color: tint($body-color, 95%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  h3 {
    font-weight: 400;
    line-height: 1em;
    color: $dark-blue;
    margin: 0;
    display: inline-block;
    @include small {
      display: block;
      line-height: inherit;
    }
  }

  .logos {
    float: right;
    display: inline-block;
    margin: 0;

    img {
      line-height: 1em;
      height: 32px;
      margin-left: 2em;
    }

    @include small {
      text-align: right;
      display: block;
      margin: 0 4em .5em;
      float: left;
    }
  }

  .devseed {
    width: 188px;
    height: 32px;
    @include small {
      width: 141px;
      height: 24px;
    }
  }
}

#introduction {
  float:left;
  text-align: center;
}

#intro-slide-content {
  margin-top: 6em;
  position: relative;
  @include small {
    margin-top: 4em;
  }
}

.header-slide {
  background-color: $dark-blue;
  float: left;
  display: block;
  height: 650px;
  @include small {
    height: 480px;
    text-align: center;
  }
}

#intro {
  @include small {
    height: auto;
    padding-bottom: 1rem;
  }
}
