// Cribbed from https://github.com/fraserxu/react-dropdown
@import "vendor/dropdown";
.Dropdown-control {
  padding: 8px 30px 8px 10px;
  min-width: 150px;
  .placeholder {
    font-weight: 700;
  }
}

.inline-nav {
  display: flex;
  margin-top: 2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.inline-nav-el {
  padding: 0;
  margin: 0 16px;
  @include small{
    margin: 0;
  }
  text-align: center;
}

.button,
.button:link,
.button:active,
.button:visited {
  color: $dark-blue;
}

.button {
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border: 1px solid lighten(black, 35%);
  border-radius: 3px;;
  text-align: center;
  font-weight: 700;
  background-color: red;

/*  @include box-shadow;
  &:active {
    @include inset-shadow;
  }*/  
  &:hover {
    background-color: blue;
    color: red;
  }
}

.impact.hero-button{
      background-color:tint($mid-blue, 85%);

  &:hover{
    background-color: tint($mid-blue, 70%);
  }
 }


.hero-button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  padding: 12px 20px 8px;
    @include small{
      padding: 17px 7px 9px;
    }

  .icon {
    width: 100px;
    height: 100px;
    // because these icons are more rectangular
    margin-top: -12px;
    margin-bottom: -12px;

    &:hover{

    };
  }

  &:hover {
    background-color: blue;

    label {
      color: orange;
    }

    .impact {
      color: tint($dark-blue, 60%);
    }
  }

}

// Radio selector
.inline-radio-selector {
  margin-bottom: 1em;
}

.inline-radio-item {
  text-align: center;
}


input.radio-item {
  float: left;
  &:empty {
    margin-left: -9999px;
  }

  // Styling labels
  &:empty ~ label {
    position: relative;
    color:$mid-blue;
    float: left;
    line-height: 2.5em;
    text-indent: 1rem;
    margin-top: 0em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 263px;
  }

  &:checked ~ label {
    color: #fff;
  }
}

.radio-item-label {
  padding-right: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  max-width: 16rem;
  font-size: 0.9rem;
}

&:checked ~ .radio-item-label {
  background-color: lighten($mid-blue,20);
  border-right: 2px solid #b3b9c4;
}

&:hover:not(:checked) ~ .radio-item-label {
  background-color: lighten($mid-blue, 40);
  border-right: 2px solid lighten($mid-blue, 40);
}


.inline-radio-title {
  text-align: left;
  background-color: $mid-blue;
  color: white;
  border-bottom: 1px solid darken($mid-blue, 20);
  h3 {
    max-width: 14rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 1.1rem;
  }
}
