.graphic{
  @include small{
    display:none;
  }
}

.scatterplot {
  width: 100%;
  height: 100%;
  min-height: 30em;

  position: relative;
}

.scatterplot-icon {
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.scatterplot-label {
  fill: $mid-blue;
  font-size: .875em;
  font-weight:600;
}

.scatterplot-axis-label {
  position: absolute;

  &.x-label {
    left: 0;
    bottom: 1em;
    text-align: center;
    width: 100%;
  }

  &.y-label {
    left: 20px;
    bottom: 55%;
    width: 150px;
    text-align: left;
  }
}

.axis line {
  stroke: tint($mid-blue, 70%);
  stroke-width: 1px;
}

.axis .tick{
  fill: tint($mid-blue, 70%);
}

.tooltip {
/*  width: 50px;
  height: 50px;*/
  background-color: salmon;
  position: absolute;
  display: block;
}
