.table-container {
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
}

table {
  border-collapse:collapse;
  background-color: #fafafa;
  border: 1px solid rgba(0,0,0,0.2);
  max-width: 100%;
  margin: 2rem 0 3rem;
}

.capability-table-item {
  cursor: pointer;
  &:hover{
    background-color: lighten($mid-green, 5);
  }
}

th {
  padding: 1rem 2rem;
  font-weight: 400;
  font-size: 0.9rem;
  color: white;
  background-color: $mid-green;
  border-bottom: 2px solid darken($mid-green, 20);
}

tr:nth-child(even) {
  background-color: rgba(0,0,0,0.05);
}

td {
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
}

td:nth-child(1) {
  text-align: left;
  padding: 1rem 2rem;
  border-right: 1px solid rgba(0,0,0,0.1);
}
