body {
  font-family: $base-font-family;
  font-weight: 400;
  color: $base-color;
  background-color: tint($body-color, 98%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 0;
  margin: 0.75em 0;
}

hr{
  border-bottom: .3rem solid $dark-blue;
  width:15%;
  line-height: 1rem;
}

.header-slide hr {
  border-bottom: .3rem solid #FFF;
  width:60%;
  line-height: 1rem;
  margin: 2rem;
  @include small {
    display: none;
  }
}



h2 {
  font-weight: 200;
  font-style: italic;
  color: $dark-blue;
  font-size:1.8rem;
  margin-top:1rem;
  line-height: 2.8rem;
}


h3 {
  font-weight: 500;
  color: $highlight-blue;
}

h4, h5 {
  font-weight: 400;
  font-size:1.3rem;
}

p{
  font-weight: 200;
  font-size:1.3rem;
  line-height: 2.3rem;
}

strong {
  font-weight: 400;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size:1rem;
  color: $highlight-orange;
}

h2, h3, h4, h5, h6 {
  line-height: 1.425em;
  margin: 0.75em 0;
}

.range-labels {
  position: relative;
  margin-bottom: 12px;

  .range-label {
    cursor: default;
  }

  .range-label-right {
    float: right;
    margin-right: 24px;
  }
  .range-label-left {
    float: left;
    margin-left: 24px;
  }
  .range-label-center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

input.range {
  cursor: pointer;
}

.add-space{
  margin-bottom: 7rem;
  margin-top: 7rem;
}

.header-slide h1, .header-slide h2{
  color: tint($body-color, 95%);
  line-height: 2.4rem;
  margin: 2rem 2rem 4rem 2rem;
  font-size:2.4rem;
  @include small{
    line-height: 1.8rem;
    margin: 1rem 0;
    font-size: 1.8rem;
  }
}

label.impact{
  color: $mid-blue;
  @include small{
    margin-left:8rem;
  }
  :hover{
    color: tint($mid-blue, 60%);
  };
}
