
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;

//color palette
$dark-blue: #091E2C;
$mid-blue: #45535A;
$highlight-blue: #60888F;
$off-white: #F6F6EA;
$highlight-orange: #A54023;

$base-color: #131313;
$body-color: #000;

$base-background-color: #FEFEFE;
$base-background-rgba: rgba(254, 254, 254, .9);

$strong-color: rgb(9, 45, 58);
$strong-rgba: rgba(9, 45, 58, .8);

$inactive: #D1D3D4;

$input-background: #939393;
$border-color: lighten(#5E5E5E, 15%);

$table-font-size: .9rem;
$table-line-height: 1.6em;

@mixin box-shadow {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,.1);
}

@mixin inset-shadow {
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,.3);
}

@mixin small {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 40.063em) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 64.063em) {
    @content;
  }
}

@mixin xlarge {
  @media only screen and (min-width: 90.063em) {
    @content;
  }
}

