/* ==========================================================================
   Main
   ========================================================================== */

/**
 * Following Necolas' Principles of writing consistent, idiomatic CSS:
 * https://github.com/necolas/idiomatic-css
 */

/* Charset */

@charset "UTF-8";

/* Libraries
   ========================================================================== */

/**
 * Bourbon for extended SASS functionality:
 * http://bourbon.io/
 */

@import "bourbon";

/**
 * Jeet, a grid system designed for humans:
 * http://jeet.gs/
 */

@import "jeet/index";


/* Reboot
   ========================================================================== */

@import "normalize";
@import "reset";

/**
 * Using Kenneth Ormandy's OpenType features—ligatures, kerning, and
 * more—to Normalize.css:
 * https://github.com/kennethormandy/normalize-opentype.css
 */

@import "normalize-opentype";

/* Custom
   ========================================================================== */

@import "collecticons";
@import "base";
