<!-- Footer Content-->
<footer class="article-footer">
	 {% if page.prev != null %}
	 	<a href="{{site.baseurl}}/{{prev-link}}" class="article-footer__flex">
			 <i class="collecticon collecticon-chevron-left"></i>
			 <!-- title -->
			 <h2>{{page.prev}}</h2>
	 	</a>
	 {% endif %}

	 {% if page.next != null %}
	 	<a href="{{site.baseurl}}/{{next-link}}" class="article-footer__flex">
			 <!-- title -->
			 <h2>{{page.next}}</h2>
			<i class="collecticon collecticon-chevron-right"></i>
	 	</a>
	 {% endif %}
</footer>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
